* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .hidden {
    display: none;
  }
  
  input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  }

  fieldset {
    border: 0px;
  }

  button {
    background-color: #eee;
    border-radius: 25px;
  }


  